<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yootk.dubbo.dao.JobMapper">
  <resultMap id="BaseResultMap" type="com.yootk.dubbo.vo.Job">
    <id column="jid" jdbcType="BIGINT" property="jid" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    jid, job, description, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from job
    where jid = #{jid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from job
    where jid = #{jid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yootk.dubbo.vo.Job">
    insert into job (jid, job, description, 
      state)
    values (#{jid,jdbcType=BIGINT}, #{job,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yootk.dubbo.vo.Job">
    insert into job
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jid != null">
        jid,
      </if>
      <if test="job != null">
        job,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jid != null">
        #{jid,jdbcType=BIGINT},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yootk.dubbo.vo.Job">
    update job
    <set>
      <if test="job != null">
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where jid = #{jid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yootk.dubbo.vo.Job">
    update job
    set job = #{job,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where jid = #{jid,jdbcType=BIGINT}
  </update>
</mapper>